<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", 
    				onKeyDown: "countChars()", onKeyUp: "countChars()" %>
    <%= text_field :txt, :cnt, value: 140, size: 3, disabled: true  %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>